@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;

  .navbar-link {
    font-size: 16px;
    font-weight: 500;
    color: #03361e;
  }
}

#button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: #03361e;

  &:hover {
    background-color: #204d38;
    color: #fff;
  }

  &:active {
    background-color: #03361e;
  }
}

#navbar-logo {
  font-size: 24px;
  font-weight: 600;
  color: #03361e;
}

#button1 {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: transparent;
  color: #03361e;
  border-color: #03361e;
  margin-right: 10px;
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #03361e;

  h5 {
    color: #a8db98;
    font-size: 16px;
  }

  .link-list {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.hero {
  background-image: url(./assets/images/Hero.png);
  background-size: cover;
  height: 616px;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-text {
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #fff;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
    }
  }
}
.card-home {
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #03361e;
    margin-bottom: 30px;
  }
  .card-body {
    img {
      max-width: 270px;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #03361e;
      padding: 24px;
    }
  }
}

.words {
  font-family: "Montserrat", sans-serif;
  background-color: #03361e;
  color: #fff;
  height: 195px;
  display: grid;
  align-items: end;
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-top: 40px;
  }

  .watermark {
    h4 {
      font-size: 20px;
      padding-bottom: 20px;
      padding-right: 50px;
    }
  }
}

.earth-container {
  background-image: url(./assets/images/Ellipse.png);
  background-repeat: no-repeat;
  background-size: 580px;

  .earth-container-content {
    height: auto;
    .bumiku-image {
      max-height: 427px;
      max-width: 526px;
      animation: floating 3s ease-in-out infinite;
    }
    @keyframes floating {
      0% {
        transform: translate(0, 0px);
      }
      50% {
        transform: translate(0, 10px);
      }
      100% {
        transform: translate(0, -0px);
      }
    }

    .bumiku-content {
      margin: 100px 0 100px 110px;

      h3 {
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        font-family: "Montserrat", sans-serif;
        color: #818181;
        font-size: 16px;
        padding-right: 80px;
        margin-bottom: 20px;
      }
    }
  }
}

.bumiku-info {
  background-color: #03361e;
  padding: 80px 0;
  .info-title {
    font-family: "Montserrat", sans-serif;
    p {
      color: #bfbebe;
    }
    h3 {
      font-weight: 600;
      color: #a8db98;
      font-size: 24px;
    }
  }

  .info-card {
    .card-item {
      background-color: #fff;
      padding: 30px;
      border-radius: 15px;
      h4 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}

.about-container {
  background-color: #03361e;
  color: #fff;
  h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #bfbebe;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
  }

  img {
    width: 650px;
    height: 390px;
  }
}

.form-donasi {
  color: #03361e;
  .form-data {
    .input-custom {
      border: 1px solid #03361e;
      border-radius: 20px;
      padding: 6px 30px;
    }

    h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 40px;
    }
    h6 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 5px;
    }
    h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }

    .input-text {
      border: 1px solid #a8db98;
      border-radius: 20px;
      padding: 6px 20px 6px 20px;
      font-size: 15px;
      width: 90%;
    }
  }
  .side-info {
    border: 0.5px solid #bfbebe;
    padding: 30px;
    border-radius: 15px;
    overflow: hidden;
    height: 230px;

    @media (min-width: 500px) and (max-width: 1040px) {
      height: 400px;
    }
    @media (min-width: 1040px) and (max-width: 1440px) {
      height: 300px;
    }

    h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
      padding: 10px 0;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
#button3 {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: transparent;
  color: #03361e;
  border-color: #03361e;
  margin-right: 10px;

  &:hover {
    background-color: #a8db98;
  }
}

.breadcrumb {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #03361e;
  text-decoration: none;
}

.card-custom {
  margin-bottom: 15px;

  .card-custom-item {
    width: 27rem;
    border-radius: 20px;
    .item-body {
      font-family: "Poppins", sans-serif;
      padding: 0 30px 24px;

      h3 {
        color: #03361e;
        font-weight: 600;
        font-size: 16px;
      }
      p {
        color: #bfbebe;
        font-weight: 400;
        font-size: 14px;
      }
    }

    &:hover {
      background-image: linear-gradient(
        to bottom,
        rgba(3, 54, 30, 0.3) 0%,
        rgba(255, 255, 255, 0.5) 100%
      );
      border-color: transparent;
    }
  }
}

.tab-custom {
  .link-group {
    display: flex;
    gap: 50px;
  }

  .input-search {
    border-radius: 20px;
    padding: 8px 20px;
    border: 1px solid #03361e;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
}
#link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #03361e;
  margin: 8px 0;

  &:active {
    border-bottom: 2px solid #03361e;
    margin-bottom: 5px;
  }
}
