@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* daftar login */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-daftarlogin  {
  background-color: #d9d9d9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center ;
  text-align: left;
}
.containerss {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
}
.inputlogin {
  padding-right: 290px;
}

.masuk {
  text-decoration: none;
  font-weight: bold;
  color: #03361E;
}
.judulbumiku {
  text-align: center;
  color: #03361E;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.button {
  text-align: center;
  background-color: #03361E;
  color: white;
  width: 302px;
  border-radius: 50px;
  
}
input {
  width: 250px;
  outline: none;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  border-color: #DEF5D8;
}
label { 
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

/* ADMIN */
.frameadmin {
  background-color:white;
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.sidebar {
      width: 250px;
      height: 100vh;
      background-color: #03361E;
      padding-top: 45px;
      font-family: "Poppins", sans-serif;
      
      

}
.judul-sidebar {
  color: #A8DB98;
  padding-left: 15px;
  text-align: left;
  
  
}
.page-sidebar {
  color: white;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  padding-left: 15px;
  text-align: left;
}
.flex-column {
  text-align: left;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* tabel */
.tabel {
  padding-left: 70px;
  padding-top: 110px; 
  font-family: "Poppins", sans-serif;
 width: 80%;
}

.butonadmin {
  text-align: center;
  background-color: #03361E;
  color: white;
  width: 100px;
  border-radius: 50px;
  margin-left: 1060px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
}
.informasiadmin{
  text-align: left;
  font-weight: bold;
}
th {
  font-size: 12px;
  
}
td {
  font-size: 12px;
  text-align: left;
}

.aksi {
  color: red;
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 15px ;
}
Nav svg {
  font-size: 1rem;
  margin: 5px;
  gap: 2px ;
}

/* Menambahkan informasi */
.containersss {
  background-color: white;
  padding-top: 95px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  font-size: 15px;
  
  
}

.konten {
  height: 140px;
  border-radius: 10px;
  width: 400px;
  margin: 30px auto;
  justify-content: top;
  text-align: start;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  resize: vertical;
}
.inputtambah {
  width: 410px;
  padding-right: 10px;
}
.buttonn {
  text-align: center;
  background-color: #03361E;
  color: white;
  width: 100px;
  border-radius: 50px;
  margin-left: 310px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
}

.judul {
  font-size: medium;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: bold;
}
.texttambah {
  text-align: left;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.uploudgambar {
  
  font-weight: bold;
  color: #03361E;
  text-align: left;
}