@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;

  .navbar-link {
    font-size: 16px;
    font-weight: 500;
    color: #03361e;
  }
  .navbar-button {
    button {
      font-size: 14px;
      font-weight: 600;
      padding: 10px 30px;
      background-color: #03361e;

      &:hover {
        background-color: #204d38;
        color: #fff;
      }

      &:active {
        background-color: #03361e;
      }
    }
  }
}

#navbar-logo {
  font-size: 24px;
  font-weight: 600;
  color: #03361e;
}

#button1 {
  background-color: transparent;
  color: #03361e;
  border-color: #03361e;
  margin-right: 10px;
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #03361e;

  h5 {
    color: #a8db98;
    font-size: 16px;
  }

  .link-list {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.hero {
  background-image: url(./assets/images/Hero.png);
  background-size: cover;
  height: 616px;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-text {
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #fff;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
    }
  }
}
.card-home {
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #03361e;
    margin-bottom: 30px;
  }
  .card-body {
    img {
      max-width: 270px;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #03361e;
      padding: 24px;
    }
  }
}
